.country {
  display: flex;
  margin-bottom: 2rem;
}

.country-Detail {
  display: flex;
  flex-direction: column;
}

.country-2 {
  width: 70%;
  padding: 0 2rem;
}

.name {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.country-container {
  margin-top: 10rem;
}

